<!-- Breadcrumb -->
<div class="bread-crumb-bar">
	<div class="container">
		<div class="row align-items-center inner-banner">
			<div class="text-center col-md-12 col-12">
				<div class="breadcrumb-list">
					<h3>Nos Locaux</h3>
					<nav aria-label="breadcrumb" class="page-breadcrumb">
						<ol class="breadcrumb">
							<li class="breadcrumb-item"><a [routerLink] = "routes.home"> Accueil</a></li>
							<li class="breadcrumb-item" aria-current="page">Nos Locaux</li>
						</ol>
					</nav>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- /Breadcrumb -->
<!-- Page Content -->			
<section class="section review">
	<div class="container">
		<div class="row">
			<div class="col-lg-6">
				<div class="work-set-image">
					<img src="assets/img/work4.png" alt="Img" class="img-fluid ">
				</div>

			</div>
			<div class="col-lg-6">
				<div class="aos " data-aos="fade-up">
					<div class="demand-professional">
						<h2>Dépasser les limites de vos bureaux.</h2>
						<p>Bénéficier d'un développeur talentueux et augmenter leurs performances grâce à nos bureaux. </p>
					</div>
					<div class="demand-post-job">
						<div class="demand-post-img">
							<img src="assets/img/5614412_computer_desk_furniture_interior_work_space_icon.svg" alt="Img" class="img-fluid">
						</div>
						<div class="demand-content">
							<h6>Postes de travail</h6>
							<p>Bureaus spacieux offrant un environvwinent favorable à la concentration.</p>
						</div>
					</div>
					<div class="demand-post-job">
						<div class="demand-post-img">
							<img src="assets/img/8665571_laptop_code_icon (1).svg" alt="Img" class="img-fluid">
						</div>
						<div class="demand-content">
							<h6>Des ordinateurs</h6>
							<p>Tous les ordinateurs et logiciels nécessaires pour 
								la bon fonctionnement du travail du développeur.</p>
						</div>
					</div>
					<div class="demand-post-job">
						<div class="demand-post-img">
							<img src="assets/img/3994418_internet_network_signal_wifi_wireless_icon.svg" alt="Img" class="img-fluid">
						</div>
						<div class="demand-content">
							<h6>Connexion Internet</h6>
							<p>une performance rapide et flable pour une 
								expérience fluide ut stable .</p>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>
</section>
<section class="section job-register-two">
	<div class="container">
	  <div class="row">
		<div class="col-12">
		  <div class="register-job-blk justify-content-center">
			<div class="text-center job-content-blk aos" data-aos="fade-up">
			  <h2>Optimisation de la Collaboration pour des Performances Exceptionnelles</h2>
			  <p>
				Nos bureaux offrent un environnement de travail stimulant avec un responsable techniquement 
				expérimenté offrant des conseils<br> précieux afin de maximiser la collaboration.
			  </p>
			</div>
			<div class="bg-img">
			  <img
				src="assets/img/bg/job-sec-bg-01.png"
				class="img-fluid job-right-bg"
				alt="Img"
			  />
			  <img
				src="assets/img/bg/job-sec-bg-02.png"
				class="img-fluid job-left-bg"
				alt="Img"
			  />
			</div>
		  </div>
		  <div class="mt-5 text-center sign-in-btn aos" data-aos="fade-up">
			<a [routerLink]="['/pages/about']" class="btn btn-primary"
			  >En savoir plus
			</a>
		  </div>
		</div>
	  </div>
	</div>
  </section>
<!-- /Page Content -->
<section class="section review">
	<div class="container">
		<div class="row">
			
			<div class="col-lg-6">
				<div class="aos aos-init " data-aos="fade-up">
					<div class="demand-professional">
						<h2 style="font-size: 28px; margin-left: 65px;">Une Infrastructure Robuste pour un<br> Environnement de Travail Performant.</h2>
						<p></p>
					</div>
					<div class="demand-post-job align-items-start">
						<div class="demand-post-img">
							
						</div>
						<div class="demand-content">
							<h2 style="font-size: 15px; font-weight: bold;">Un responsable de bureau:</h2>
							<p style="color: black;  font-size: 15px;">Bénéficiez du soutien d'un responsable de bureau présent sur place. 
								Il veille au bon fonctionnement quotidien des opérations et au bien-être des développeurs,
								 créant ainsi un environnement de travail plus performant.</p>
						</div>
					</div>
					<div class="demand-post-job align-items-start">
						<div class="demand-post-img">
							
						</div>
						<div class="demand-content">
							<h2 style="font-size: 15px;font-weight: bold;">Protection des Données:</h2>
							<p style="color: black;  font-size: 15px;">Votre sécurité est notre priorité.
								 Nous mettons en place des mesures de protection strictes pour vos données.</p>
						</div>
					</div>
					<div class="demand-post-job align-items-start">
						<div class="demand-post-img">
							
						</div>
						<div class="demand-content">
							<h2 style="font-size: 15px; font-weight: bold;">Infrastructure sécurisée:</h2>
							<p style="color: black; font-size: 15px;">Pare-feu et antivirus: Nos postes de travail sont équipés de pare-feu et de logiciels antivirus.</p>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-6">
				<div class="work-set-image">
					<div class="recent-pro-img aos" data-aos="zoom-in" data-aos-duration="1000">
						<img src="assets/img/pg.png" alt="Img" class="img-fluid " style="border-top-left-radius:150px ; border-bottom-right-radius: 150px;">
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
