<!-- Footer -->	
<footer class="footer">
    <div class="footer-top ">
        <div class="container">

            <div class="row">
                <div class=" col-lg-4 col-md-12">
                    <div class="footer-bottom-logo">
                        <a [routerLink]="routes.home" class="menu-logo">
                            <img src="assets/img/logo.png" class="img-fluid" alt="Logo" width="200" height="50">
                        </a>
                                <div class="info">
                                    <p class="contact-info" >(+33) 04 79 19 45 15</p>
                                    <a href="mailto:contact@devfactory.cc" class="contact-info">contact@devfactory.cc</a>
                                </div>
                                <div class="info">
                                    <h5 class="contact-info" >Bassin Genevois</h5>
                                    <p class="contact-info">13b Chemin du levant, 
                                        01210 Ferney-Voltaire</p>
                                 </div>
                               <div class="info">
                                    <h5 class="contact-info">Ile de france</h5>
                                    <p class="contact-info">4 rue Raie Tortue,
                                         91240 Saint Michel sur Orge</p>
                                </div>
                        <ul>
                             <li>
                                <a href="https://www.linkedin.com/company/devfactory-agency/"><i class="fa-brands fa-linkedin" aria-hidden="true" style="color: rgb(0, 68, 255); font-size: 35px;"></i></a>
                            </li>
                        </ul>
                       
                    </div>
                </div>
                
                <div class=" col-lg-8 col-md-12">
                    <div class="row">
                        <div class="col-xl-2 col-md-6">
                          
                        </div>
                        <div class="col-xl-4 col-md-6">
                            <div class="footer-widget footer-menu">
                                <h2 class="footer-title">Ressources</h2>
                                <ul>
                                    
                                    <li><a [routerLink]="['/pages/faq']">FAQ</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-xl-2 col-md-6">
                          
                        </div>
                        <div class="col-xl-4 col-md-6">
                            <div class="footer-widget footer-menu">
                                <h2 class="footer-title">Entreprise</h2>
                                <ul>
                                    <li><a [routerLink] = "['/pages/his']">Notre histoire.</a></li>
                                    <li><a [routerLink]="['/pages/locaux']">Nos locaux.</a></li>
                                    <li><a [routerLink]="['/pages/esn']">Je suis une ESN</a></li>
                                    <li><a [routerLink]="['/pages/start']">Je suis une Start-up</a></li>
                                   
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /Footer Top -->
    
    <!-- Footer Bottom -->
    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <!-- Footer Links -->
                    <div class="footer-links">
                        <ul class="list-unstyled">
                            <li>
                                <a [routerLink]="['/pages/about']" 
                                   style="background-color:#E65425; color: white; border: white;"
                                   onmouseover="this.style.backgroundColor='#161c2d'; this.style.color='white';"
                                   onmouseout="this.style.backgroundColor='#E65425'; this.style.color='white';">
                                   <span>Nous contacter</span>
                                </a>
                            </li>
                            
                            <li><a [routerLink]="['/pages/blank-page']" ><span>Mentions légales</span></a></li>
                            <li><a  [routerLink]="['/pages/privacy-policy']"><span>Gestion des cookies</span></a></li>
                        </ul>
                    </div>
                    <!-- /Footer Links -->
                </div>
            </div>
        </div>
    </div>
    
    
    
    
    
    
    
    
    
    
    <!-- /Footer Bottom -->				
</footer>
<!-- /Footer -->
