<!-- Breadcrumb -->
<div class="bread-crumb-bar">
	<div class="container">
		<div class="row align-items-center inner-banner">
			<div class="text-center col-md-12 col-12">
				<div class="breadcrumb-list">
					<h3>Contact</h3>
					<nav aria-label="breadcrumb" class="page-breadcrumb">
						<ol class="breadcrumb">
							<li class="breadcrumb-item"><a [routerLink] = "routes.home"> Accueil</a></li>
							<li class="breadcrumb-item" aria-current="page">Contact</li>
						</ol>
					</nav>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- /Breadcrumb -->
<div class="container">
  <div class="row">
  <div class="col-lg-6 ">
    <div class="content-wrapper">
      <div class="text-center job-content-blk aos" data-aos="fade-up">
      <h2 class="title1">Parlons de votre <br><span>projet plus en détail.</span></h2>
      <p>Notre engagement est de fournir des solutions personnalisées et innovantes qui s'adaptent 
        parfaitement à chaque secteur d'activité.</p>
      <p>Notre équipe se compose de professionnels engagés, alliant compétences de développement,
         conception et gestion de projet. Notre passion réside dans la création de solutions personnalisées
          qui non seulement répondent, mais dépassent les attentes de nos clients. Nous croyons en une collaboration 
          étroite avec nos clients, mettant en œuvre leurs idées et leur vision pour concrétiser un produit final exceptionnel.
           Forts de notre expérience et de notre engagement envers l'excellence,
         nous vous assurons une satisfaction totale quant aux résultats de votre projet.</p>
    </div>
    </div>
  </div>
  <div  class="col-lg-6">
  <div class="contact-form" [ngStyle]="{ 'margin-right.px': getMarginRight() }">

    <div class="card budget-widget">
      <h6 style="display: flex;
      justify-content: center; 
      width: 100%;" >Formulaire de contact</h6>
      <form [formGroup]="form"  (ngSubmit)="submitForm()">

        <div class="form-group">
          <label for="name">Nom complet <span style="color: orangered">*</span></label>
          <input type="text" id="name" formControlName="name" class="form-control form-control-lg" placeholder="Ajouter votre nom">
          <div *ngIf="form.get('name')?.invalid && (form.get('name')?.dirty || form.get('name')?.touched)" class="alert">
            <span style="color: red">Nom est requis.</span>
          </div>
        </div>
        
        <div class="form-group">
          <label for="email">E-mail</label>
          <input type="email" id="email" formControlName="email" class="form-control" placeholder="Ajouter votre email">
          <div *ngIf="form.get('email')?.invalid && (form.get('email')?.dirty || form.get('email')?.touched)" class="alert">
            <span style="color: red">E-mail est requis.</span>
            <span style="color: red" >E-mail invalide.</span>
          </div>
        </div>
        
        
        
        <div class="form-group">
          <label for="phone">Numéro de téléphone (facultatif)</label>
          <input type="tel" id="phone" formControlName="phone" class="form-control form-control-lg" placeholder="Ajouter votre téléphone">
        </div>
        
        <div class="form-group">
          <label for="message">Message</label>
          <textarea id="message" formControlName="message" class="form-control form-control-lg"></textarea>
          <div *ngIf="form.get('message')?.invalid && (form.get('message')?.dirty || form.get('message')?.touched)" class="alert">
            <span style="color: red" >Message est requis.</span>
          </div>
        </div>
        
        <div class="text-center form-group">
          <div class="mx-auto" style="max-width: 304px;">
            <re-captcha id="recaptcha" formControlName="recaptcha" siteKey="6Lepjn4pAAAAAJL5shF6OkU3-XKoi3mW1MRVnHWo"></re-captcha>
          </div>
        </div>
       

        
        <div class="form-group">
          <!-- Conteneur pour le centrage du bloc checkbox -->
          <div class="input-block d-flex justify-content-center w-100">
            <div class="form-check form-switch d-inline-block work-check position-relative">
              <input type="checkbox" class="form-check-input" id="check_hour" checked=""
                     [(ngModel)]="isCheckboxChecked" [ngModelOptions]="{standalone: true}">
            </div>
            <label for="check_hour" class="form-label ms-2">J'accepte les conditions générales</label>
          </div>
        </div>
        
        <div class="text-center form-group">
          <button type="submit" class="reg-btn" [disabled]="!form.valid">Demandé à être contacté</button>
        </div>
      </form>
      <div *ngIf="messageEnvoye" class="alert " role="alert">
        <span style="color: green;">Votre message a été envoyé avec succès.</span> 
       </div>
       <!-- Message d'erreur -->
       <div *ngIf="messageErreur" class="alert " role="alert">
         <span style="color: red;"> {{ messageErreur }}</span>
       </div>
    </div>
  </div>
</div>
</div>
</div>

    
<!-- /Page Content -->