.custom-alert {
    background-color: #7ed782;
    color:  #085614;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
  }
  
  .error {
    color: red;
  }
  