<!-- Breadcrumb -->
<div class="bread-crumb-bar">
	<div class="container">
		<div class="row align-items-center inner-banner">
			<div class="col-md-12 col-12 text-center">
				<div class="breadcrumb-list">
					<h3>FAQ</h3>
					<nav aria-label="breadcrumb" class="page-breadcrumb">
						<ol class="breadcrumb">
							<li class="breadcrumb-item"><a [routerLink] = "routes.home"> Accueil</a></li>
							<li class="breadcrumb-item" aria-current="page">Faq</li>
						</ol>
					</nav>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- /Breadcrumb -->

<!-- Page Content -->
<div class="content">
	<div class="container">
		
		<div class="row">
			<div class="col-md-12">
				
				<!-- FAQ Content -->
				<div class="faq p-0">
				<div id="accordion">
				
				<!-- Basic FAQ Content -->
				<div class="basics-faq">
					<h4>Paiement et Coûts :</h4>
					
					
					<!-- /FAQ Content -->
					
					<!-- FAQ Content -->
					<div class="card">
						<a class="collapsed card-link" data-bs-toggle="collapse" href="#collapseTwo">	
							<div class="card-header">																	
								Est-ce que la mise en œuvre de cette procédure engendra des frais élevés ?	<i class="fa fa-angle-right"></i>										
							</div>
						</a>
					  <div id="collapseTwo" class="collapse" data-parent="#accordion">
						<div class="card-body">
							Non la procédure ne vous engage pas, vous ne paierez que pour le travail fourni.


						</div>
					  </div>
					</div>
					<!-- /FAQ Content -->
					<div class="basics-faq">
						<h4>Responsabilités de l’entreprise :</h4>
					<!-- FAQ Content -->
					<div class="card">
						<a class="collapsed card-link" data-bs-toggle="collapse" href="#collapseThree">		
							<div class="card-header">
								Quelles sont mes responsabilités pendant le processus de recrutement ? <i class="fa fa-angle-right"></i>
							</div>
						</a>
						
						<div id="collapseThree" class="collapse" data-parent="#accordion">
							<div class="card-body">
								Pendant le processus de recrutement, vos responsabilités sont :
								Vous devez également vous assurer que le processus est équitable et conforme aux normes éthiques et légales en vigueur.
							</div>
						</div>
					</div>
					<!-- /FAQ Content -->
					</div>
					<div class="basics-faq">
						<h4>Processus de Recrutement :</h4>
					<!-- FAQ Content -->
					<div class="card">									
						<a class="collapsed card-link" data-bs-toggle="collapse" href="#collapsefour">	
							<div class="card-header">
								Dans quel délai puis-je m'attendre à ce qu'un développeur soit mis à ma disposition ? <i class="fa fa-angle-right"></i>
							</div>
						</a>
						<div id="collapsefour" class="collapse" data-parent="#accordion">
							<div class="card-body">
								La durée requise pour recruter un développeur dépend de divers éléments, tels que la complexité du poste, la disponibilité des candidats, le processus de sélection et les négociations contractuelles. Une fois votre choix de candidat fait, nous entrerons en contact avec lui pour lui annoncer la bonne nouvelle et planifier un rendez-vous.

								Nous nous engageons à maintenir une communication transparente et régulière tout au long du processus afin de vous tenir informé de son évolution.
							</div>
						</div>
					</div>
					<!-- /FAQ Content -->
					</div>
				</div>
				<!-- /Basic FAQ Content -->
				
				<!-- Account FAQ Content -->
				
				
					<div class="card">
						<a class="card-link" data-bs-toggle="collapse" href="#accOne">
							<div class="card-header">																		  
								Comment DevFactory peut-il garantir qu'il sélectionne le développeur idéal pour les besoins de mon entreprise ?<i class="fa fa-angle-right"></i>
							</div>
						</a>								 
						<div id="accOne" class="collapse" data-parent="#accordion">
							<div class="card-body">
								Notre garantie repose sur la rigueur de notre processus de recrutement et de sélection. Avant d'initier la recherche et la présentation d'un développeur, notre priorité consiste à bien appréhender les exigences spécifiques de nos clients.
							</div>
						</div>
					</div>
					<div class="basics-faq">
						<h4>Forfaits de Travail :</h4>
					<div class="card">
						<a class="collapsed card-link" data-bs-toggle="collapse" href="#accTwo">	
							<div class="card-header">																	
								Quelle est la durée de travail hebdomadaire pour laquelle je peux engager les développeurs de DevFactory ?<i class="fa fa-angle-right"></i>										
							</div>
						</a>
					  <div id="accTwo" class="collapse" data-parent="#accordion">
						<div class="card-body">
							Un temps plein est de 40 heures par semaine <br>
							<br>

Pour attirer les meilleurs développeurs chez DevFactory, l'engagement minimum que nous proposons est de 20 heures par semaine. 
Si vous souhaitez travailler avec un développeur DevFactory dans des conditions particulière (par exemple, 32 heures par semaine, seulement 2 semaines par mois), il vous suffit de le demander, et nous nous ferons un plaisir de l'organiser.

						</div>
					  </div>
					</div>
					<div class="basics-faq">
						<h4>Compétences Techniques :</h4>
					<div class="card">
						<a class="collapsed card-link" data-bs-toggle="collapse" href="#accThree">		
							<div class="card-header">
								Quelles compétences techniques propose DevFactory ? <i class="fa fa-angle-right"></i>
							</div>
						</a>									
						<div id="accThree" class="collapse" data-parent="#accordion">
							<div class="card-body">
								Notre réseau de développeurs seniors offre une variété de plus de 400 compétences très recherchées.

Cela inclut des développeurs back-end travaillant avec PHP, .NET, C#, Python, Ruby, Golang et Java, ainsi que des développeurs front-end spécialisés dans React.js, Vue.js et Angular, entre autres.

Nous collaborons également avec des concepteurs, des experts en assurance qualité, des ingénieurs DevOps, des Data Scientists, des Data Engineers maîtrisant Apache Spark, Scala, Python, des ingénieurs en Machine Learning, et des experts en Business Intelligence tels que Qlik Sense, QlikView et MS Power BI.

							</div>
						</div>
					</div>
				
				<!-- /Account FAQ Content -->
				
				<!-- Privacy FAQ Content -->							
				
				<!-- /Privacy FAQ Content -->
				
				</div>
				</div>
				<!-- /FAQ Content -->
					
			</div>
		</div>

	</div>

</div>					
<!-- /Page Content -->