
.row {
    margin-left: 40px; 
    margin-right: 40px; 
  }
  
  @media (min-width: 768px) {
    .row {
      margin-left: 50px; 
      margin-right: 50px;
    }
  }
  
  @media (min-width: 1200px) {
    .row {
      margin-left: 80px;  
      margin-right: 80px;
    }
  }
  
  .basics-faq {
    margin-bottom: 40px;
  }
  .collapse {
    transition: none !important; 
  }
  



 .card-header {
  cursor: pointer;
  transition: color 0.3s ease; 
  color: black; 
}

.card-header a.open{
  color: #E65425; 
}

.card-header a:hover {
  color: #E65425;
} 
  
  