<div class="dashboard-sec freelance-favourites">
	<div class="page-header">
        <div class="row">
            <div class="col">
                <h3 class="page-title">Tests Favoris</h3>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a [routerLink]="'/freelancer/dashboards'">Home</a></li>
                    <li class="breadcrumb-item active">Tests Favoris</li>
                </ul>
            </div>
        </div>
    </div>
	<div class="row row-gap">
		<div class="col-md-6 col-lg-12 col-xl-4">

			<div class="freelance-widget widget-author">
				<div class="freelance-content">
					<div class="freelance-top-content d-flex">
					</div>
					<div class="author-heading">
						<div class="profile-img">
							<a [routerLink] = "routes.freelancer_project_details">
								<img src="assets/img/company/img-1.png" alt="author">
							</a>
						</div>
						<div class="profile-name">
							<div class="author-location"><a [routerLink] = "routes.freelancer_project_details">Amaze Tech </a></div>
						</div>
						<div class="freelance-info">
						</div>
						<div class="freelance-tags">
							<a href="javascript:void(0);"><span class="badge badge-pill badge-design">Web
									Design</span></a>
							<a href="javascript:void(0);"><span class="badge badge-pill badge-design">UI
									Design</span></a>
							<a href="javascript:void(0);"><span class="badge badge-pill badge-design">Node Js</span></a>
						</div>
					</div>
					<div class="counter-stats">
					
					</div>
				</div>
				<div class="cart-hover">
					<a href="#" class="btn-cart" tabindex="-1">voir les détails</a>
				</div>
			</div>
		</div>
		<div class="col-md-6 col-lg-12 col-xl-4">

			<div class="freelance-widget widget-author">
				<div class="freelance-content">
					<div class="freelance-top-content d-flex">
					</div>
					<div class="author-heading">
						<div class="profile-img">
							<a [routerLink] = "routes.freelancer_project_details">
								<img src="assets/img/company/img-2.png" alt="author">
							</a>
						</div>
						<div class="profile-name">
							<div class="author-location"><a [routerLink] = "routes.freelancer_project_details">Park INC </a></div>
						</div>
						<div class="freelance-info">
						</div>
						<div class="freelance-tags">
							<a href="javascript:void(0);"><span class="badge badge-pill badge-design">Web
									Design</span></a>
							<a href="javascript:void(0);"><span class="badge badge-pill badge-design">UI
									Design</span></a>
							<a href="javascript:void(0);"><span class="badge badge-pill badge-design">Node Js</span></a>
						</div>
					</div>
					<div class="counter-stats">
						
					</div>
				</div>
				<div class="cart-hover">
					<a href="#" class="btn-cart" tabindex="-1">voir les détails</a>
				</div>
			</div>
		</div>
		<div class="col-md-6 col-lg-12 col-xl-4">

			<div class="freelance-widget widget-author">
				<div class="freelance-content">
					<div class="freelance-top-content d-flex">
					</div>
					<div class="author-heading">
						<div class="profile-img">
							<a [routerLink] = "routes.freelancer_project_details">
								<img src="assets/img/company/img-3.png" alt="author">
							</a>
						</div>
						<div class="profile-name">
							<div class="author-location"><a [routerLink] = "routes.freelancer_project_details">Tech Zone</a> </div>
						</div>
						<div class="freelance-info">
						</div>
						<div class="freelance-tags">
							<a href="javascript:void(0);"><span class="badge badge-pill badge-design">Web
									Design</span></a>
							<a href="javascript:void(0);"><span class="badge badge-pill badge-design">UI
									Design</span></a>
							<a href="javascript:void(0);"><span class="badge badge-pill badge-design">Node Js</span></a>
						</div>
					</div>
					<div class="counter-stats">
					</div>
				</div>
				<div class="cart-hover">
					<a href="#" class="btn-cart" tabindex="-1">voir les détails</a>
				</div>
			</div>
		</div>

		<div class="col-md-6 col-lg-12 col-xl-4">
			<div class="freelance-widget widget-author">
				<div class="freelance-content">
					<div class="freelance-top-content d-flex">
					</div>
					<div class="author-heading">
						<div class="profile-img">
							<a [routerLink] = "routes.freelancer_project_details">
								<img src="assets/img/company/img-4.png" alt="author">
							</a>
						</div>
						<div class="profile-name">
							<div class="author-location"><a [routerLink] = "routes.freelancer_project_details">ABC Software</a> </div>
						</div>
						<div class="freelance-info">
						</div>
						<div class="freelance-tags">
							<a href="javascript:void(0);"><span class="badge badge-pill badge-design">Web
									Design</span></a>
							<a href="javascript:void(0);"><span class="badge badge-pill badge-design">UI
									Design</span></a>
							<a href="javascript:void(0);"><span class="badge badge-pill badge-design">Node Js</span></a>
						</div>
					</div>
					<div class="counter-stats">
					</div>
				</div>
				<div class="cart-hover">
					<a href="#" class="btn-cart" tabindex="-1">voir les détails</a>
				</div>
			</div>
		</div>

		<div class="col-md-6 col-lg-12 col-xl-4">
			<div class="freelance-widget widget-author">
				<div class="freelance-content">
					<div class="freelance-top-content d-flex">
					</div>
					<div class="author-heading">
						<div class="profile-img">
							<a [routerLink] = "routes.freelancer_project_details">
								<img src="assets/img/company/img-5.png" alt="author">
							</a>
						</div>
						<div class="profile-name">
							<div class="author-location"><a [routerLink] = "routes.freelancer_project_details">Host Technologies</a></div>
						</div>
						<div class="freelance-info">
						</div>
						<div class="freelance-tags">
							<a href="javascript:void(0);"><span class="badge badge-pill badge-design">Web
									Design</span></a>
							<a href="javascript:void(0);"><span class="badge badge-pill badge-design">UI
									Design</span></a>
							<a href="javascript:void(0);"><span class="badge badge-pill badge-design">Node Js</span></a>
						</div>
					</div>
					<div class="counter-stats">
					</div>
				</div>
				<div class="cart-hover">
					<a href="#" class="btn-cart" tabindex="-1">voir les détails</a>
				</div>
			</div>
		</div>

		<div class="col-md-6 col-lg-12 col-xl-4">
			<div class="freelance-widget widget-author">
				<div class="freelance-content">
					<div class="freelance-top-content d-flex">
					</div>
					<div class="author-heading">
						<div class="profile-img">
							<a [routerLink] = "routes.freelancer_project_details">
								<img src="assets/img/company/img-6.png" alt="author">
							</a>
						</div>
						<div class="profile-name">
							<div class="author-location"><a [routerLink] = "routes.freelancer_project_details">Alfred Tech</a> </div>
						</div>
						<div class="freelance-info">
						</div>
						<div class="freelance-tags">
							<a href="javascript:void(0);"><span class="badge badge-pill badge-design">Web
									Design</span></a>
							<a href="javascript:void(0);"><span class="badge badge-pill badge-design">UI
									Design</span></a>
							<a href="javascript:void(0);"><span class="badge badge-pill badge-design">Node Js</span></a>
						</div>
					</div>
					<div class="counter-stats">
					</div>
				</div>
				<div class="cart-hover">
					<a href="#" class="btn-cart" tabindex="-1">voir les détails</a>
				</div>
			</div>
		</div>
	</div>




</div>