			<!-- Page Wrapper -->
            <div class="page-wrapper">
                <div class="content report-box container-fluid">
				
					<!-- Page Header -->
					<div class="page-header subscribe-head">
						<div class="row align-items-center">
							<div class="col">
								<h3 class="page-title">profil de développeur</h3>
								<ul class="breadcrumb">
									<li class="breadcrumb-item"><a [routerLink]="'/admin/dashboard'">Home</a></li>
									<li class="breadcrumb-item active">profil de développeur</li>
								</ul>
							</div>
							<div class="col-auto">
								<a class="btn  back-user" [routerLink]="'/admin/freelancers/all'" >
									<img src="assets/img/icon/icon-08.svg" alt=""> Retour à la liste
								</a>
							</div>
						</div>
					</div>
					<!-- /Page Header -->
					
					<!-- User Profile -->
					<div class="profile-status">
						<div class="row">
							<div class="col-lg-6 col-md-6">
								<div class="profile-user-box">
									<a [routerLink]="'/admin/profile'"><img class="avatar-img rounded-circle " src="assets/img/profiles/avatar-16.jpg" alt="User Image"></a>
									<div class="profile-name-box">
										<h2><a [routerLink]="'/admin/profile'">William Cooper</a></h2>
										
									</div>
								</div>
							</div>
							
							
							
						</div>
					</div>
					<!-- /User Profile -->

					<div class="row">
						<div class="col-sm-12">
							<div class="card profile-home">
								<div class="subscribe-employe users-list transaction-list">
									<ul>
										<li class="active"><a [routerLink]="'/admin/user-profile'"><img class="me-2" src="assets/img/icon/icon-12.svg" alt="">information personnelle </a></li>
										
										<li><a [routerLink]="'/admin/activities'"><img class="me-2" src="assets/img/icon/icon-11.svg" alt="">Liste des Cv</a></li>
									</ul>
									<div class="profile-icon-group">
										<div class="d-flex">
											<a href="javascript:void(0);" class="reset-icon me-1">
												<img src="assets/img/icon/icon-03.svg" alt="">
											</a>
											<a class="suspend-icon" href="javascript:void(0);">
												<img src="assets/img/icon/icon-04.svg" alt="">
											</a>
										</div>
									</div>
								</div>
								
								<!-- Active Profile Header -->
								<div class="page-header profile-information">
									<div class="row align-items-center">
										<div class="col-12">
											<h3 class="page-title">information personnelle</h3>
										</div>
									</div>
								</div>
								<!-- /Active Profile Header -->
								
								<!-- Basic Information -->
								<div class="row">
									<div class="col-md-6">
										<div class="basic-info">
											<h4>INFORMATIONS DE BASE</h4>
											<ul class="information-list">
												<li>Nom <span>William</span></li>
												<li>Prénom<span>fouleni</span></li>
												<li>Adresse e-mail <span>william@example.com</span></li>
												<li>Niveau <span>sénior</span></li>
												<li>Adresse <span>Ishtiyak</span></li>
												<li>Numéro de téléphone <span>707 229 8991</span></li>
												<li>Tjm <span>$</span></li>
											</ul>
										</div>
									</div>
									<div class="col-md-6">
										<div class="basic-info">
											<h4>AUTRE INFORMATION </h4>
											<ul class="information-list">
												<li>Niveau Français <span>N?</span></li>
												<li>Niveau Français<span>N?</span></li>
											</ul>
										</div>
									</div>
									
								</div>
								<!-- /Basic Information -->
								
							</div>			
						</div>			
					</div>
				</div>			
			</div>
			<!-- /Page Wrapper -->