ul {
    list-style-type: none; /* Supprime les puces par défaut */
    padding-left: 40px; /* Supprime le remplissage à gauche par défaut */
}

li:before {
    /* Utilise un point (•) comme symbole */
    margin-right: 5px; /* Ajoute un espace entre le point et le texte */
}
.terms-content {
    text-align: justify;
}


.row {
    margin-left: 30px; 
    margin-right: 30px; 
  }
  
  @media (min-width: 768px) {
    .row {
      margin-left: 50px;  
      margin-right: 50px;
    }
  }
  
  @media (min-width: 1200px) {
    .row {
      margin-left: 80px;  
      margin-right: 80px;
    }
  }