
			<!-- Breadcrumb -->
			<div class="bread-crumb-bar">
				<div class="container">
					<div class="row align-items-center inner-banner">
						<div class="text-center col-md-12 col-12">
							<div class="breadcrumb-list">
								<h2>Liste Développeurs</h2>
								<nav aria-label="breadcrumb" class="page-breadcrumb">
									<ol class="breadcrumb">
										<li class="breadcrumb-item"><a [routerLink] = "routes.home"> Accueil</a></li>
										<li class="breadcrumb-item" aria-current="page">Développeurs</li>
									</ol>
								</nav>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- /Breadcrumb -->
			
			<!-- Page Content -->			
			<div class="content">
				<div class="container">
				  <div class="row" style="margin-left: 30px; 
  margin-right: 30px;">
					<div class="col-md-12 col-lg-4 col-xl-3 theiaStickySidebar">
					  <div class="stickybar">
						<div class="card search-filter">
						  <div class="card-header d-flex justify-content-between">
							<h4 class="mb-0 card-title">Filtre de Recherche</h4>
						  </div>
						  
							<!-- Fin du code pour la section "Price Range" -->
			  
								
		<!-- Autres éléments de votre composant -->
		
		
		<!-- Autres éléments de votre composant -->
								<div class="card-body">
									
									<div class="filter-widget">
										
										<div id="collapselocation" class="collapse show" data-bs-parent="#accordionExample1" >
											
											
											
											
											<div id="collapseOnes3" class="collapse"  data-bs-parent="#accordionExample1" >
												
												
												
											</div>
											
										</div>
									</div>
									
										
									
									<div id="technologies" class="filter-widget">
										<!-- Titre de la section Technologies avec lien pour afficher/masquer -->
										<h4 class="filter-title">
											<a>
												Technologies
											</a>
										</h4>
										<!-- Barre de recherche -->
										<div > <!-- Ajout de la directive *ngIf ici -->
											<div style="margin-bottom: 15px;" >
												<ng-multiselect-dropdown
                                              [placeholder]="'Sélectionnez une technologie'"
                                              [settings]="multiselectDropdownSettings"
                                              [data]="technologies"
                                              [(ngModel)]="selectedTechnologies" 
                                               (onSelect)="onItemSelect($event)"
                                               (onDeSelect)="onItemDeselect($event)"
                                                ></ng-multiselect-dropdown>

											  

											</div>
											
										</div>
									
										<!-- Option de filtrage -->
										
									</div>
									
									
									<div class="filter-widget">
										<h4 class="filter-title">
											<a>
												Niveau Développeur
												
											</a> 
										</h4>
										<div id="collapseOne" class="show"  data-bs-parent="#accordionExample1" >
											<div>
												<label class="custom_check">
													<input type="checkbox" name="select_time" [(ngModel)]="isBeginner" >
													<span class="checkmark"></span> 
													Débutant
												</label>
											</div>
											<div>
												<label class="custom_check">
													<input type="checkbox" name="select_time" [(ngModel)]="isSenior">
													<span class="checkmark"></span> Sénior
												</label>
											</div>
											<div>
												<label class="custom_check">
													<input type="checkbox" name="select_time"  [(ngModel)]="isExpert">
													<span class="checkmark"></span>  Expert
												</label>
											</div>
											
											<div id="collapseOnes" class="collapse"  data-bs-parent="#accordionExample1" >
												
												
											
											</div>
											
										</div>
									</div>
									<div class="filter-widget">
										<h4 class="filter-title">
											
										</h4>
										<div id="collapselanguage" class="collapse show"  data-bs-parent="#accordionExample1" >
											
											
											
											
											<div id="collapseOnes2" class="collapse"  data-bs-parent="#accordionExample1" >
												
												
											</div>
											
										</div>
									</div>
									
									<div class="filter-widget">
										<h4 class="filter-title price-range-title">
											<a >
												TJM
											</a>
										</h4>
										<ngx-slider [(value)]="value" [(highValue)]="highValue" [options]="options"></ngx-slider>
										<div class="app">
											
											<div>
												<label for="minValue">Min:</label>
												<div class="input-group">
													
													<input id="minValue" type="text" [(ngModel)]="value" (input)="onMinValueInput()" />



                                                    <span class="currency-symbol">€</span>
												</div>
											</div>
											<div>
												<label for="maxValue">Max:</label>
												<div class="input-group">
													
													<input id="maxValue" type="text" [(ngModel)]="highValue" />
													<span class="currency-symbol">€</span>
												</div>
											</div>
										</div>
										
									</div>
									
									<div class="btn-search">
										<button type="button" class="btn btn-primary" (click)="searchFreelancers()">Recherche</button>
									  </div>
										  
								</div>
							</div>
							<!-- /Search Filter -->
							</div>
						</div>
						
						<div class="col-md-12 col-lg-8 col-xl-9">
							<div class="sort-tab develop-list-select">
								<div class="row align-items-center">
									<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
										<div class="d-flex align-items-center">
											<div class="freelance-view">
												<h4>{{ developers.length }} Résultats trouvés</h4>
											</div>
											
										</div>
									 </div>
									 <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 d-flex justify-content-sm-end">
										<div class="sort-by" *ngIf="developersFound">
											<!--<mat-select [(ngModel)]="selectedValue1" [ngModelOptions]="{standalone: true}" class="select mat-select arrow"  placeholder="Tri par défaut">
												<mat-option *ngFor="let data of selectedList1" [value]="data.value">
													{{data.value}}
												</mat-option>
											</mat-select>-->
										</div>
										<div *ngIf="!developersFound">Aucun développeur trouvé.</div>
										
									</div>
								</div>
						   </div>
						   <div class="row">
							<div class="col-md-6 col-lg-6 col-xl-4" *ngFor="let dev of developers">
							  <div class="freelance-widget">
								<div class="freelance-content">
								  <div class="freelance-img">
									<a href="javascript:void(0);">
									  <img [src]="dev.img" alt="User Image">
									</a>
								  </div>
								  <div class="freelance-info">
									<h3><a href="javascript:void(0);">{{ dev.name }}</a></h3>
									<div class="freelance-specific">{{dev.niveau}}</div>
									<div class="freelance-tags">
										<a href="javascript:void(0);" *ngFor="let skill of dev.skills">
											<span class="badge badge-pill badge-design">{{ skill.name }}</span>
										</a>
									</div>

									<div class="freelancers-price">{{ dev.tjm }} €</div>
								  </div>
								</div>
								<div class="cart-hover">
									<a [routerLink]="['/employer/developer-details', dev.id]" class="btn-cart" tabindex="-1">View Profile</a>



								</div>
							  </div>
							</div>
						  </div>
						  
							<!-- <div class="row">
								<div class="col-md-12">
									<ul class="paginations list-pagination">
										<li class="page-item"><a href="javascript:void(0);"><i class="feather icon-chevron-left"></i></a>
										</li>
										<li class="page-item"><a href="javascript:void(0);" class="active">1</a></li>
										<li class="page-item"><a href="javascript:void(0);">2</a></li>
										<li class="page-item"><a href="javascript:void(0);">3</a></li>
										<li class="page-item"><a href="javascript:void(0);">...</a></li>
										<li class="page-item"><a href="javascript:void(0);">10</a></li>
										<li class="page-item"><a href="javascript:void(0);"><i class="feather icon-chevron-right"></i></a></li>
									</ul>
								</div>-->
							</div>

						</div>
				</div>

			</div>
			<!-- /Page Content -->
      <!-- The Modal -->
		<div class="modal fade" id="rating">
			<div class="modal-dialog modal-dialog-centered modal-md">
				<div class="modal-content">
					<div class="pb-0 modal-header d-block b-0">
						<span class="modal-close float-end"><a href="javascript:void(0);" data-bs-dismiss="modal" aria-label="Close"><i class="far fa-times-circle orange-text"></i></a></span>
					</div>
					<div class="modal-body">		
						<form >
							<div class="modal-info">
								<div class="pt-0 mb-5 text-center">
									<h3>Please login to Favourite Freelancer</h3>
								</div>
								<div class="text-center submit-section">
									<button  data-bs-dismiss="modal" class="btn btn-primary black-btn click-btn">Cancel</button>
									<button type="submit" class="btn btn-primary click-btn" (click)="submitForm()">Submit</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>

		<!-- /The Modal -->