// /* CSS to ensure inline display of icon, input, and button */



  .faq-title {
    position: relative;
    padding-right: 50px; /* Ajustez cet espacement selon vos besoins */
  }


  // /* CSS to ensure inline display of icon, input, and button */
.input-group {
  display: flex;
  align-items: center;
}

.input-group input[type="email"] {
  flex: 1;
  margin-left: 70px; /* Adjust margin as needed */
}
.custom-background {
  background-color: #ffffff;
  padding-left: 10px;
  padding-right: 10px;
 /* Remplacez la couleur par celle que vous souhaitez */
}


.input-group input[type="email"] {
  border: none; /* Supprime la bordure */
  outline: none; /* Supprime la mise en surbrillance lors du focus */
  box-shadow: none; /* Supprime l'ombre */
}
.input-group .input-group-prepend .input-group-text {
  background-color: transparent;
  border: none; /* Supprime la bordure */
}
.input-group .btn{
  background-color: #E65425;
  color: white;
  border: #ffffff;
  border-radius: 5px;

}
.input-group .btn:hover{
  background-color: #161c2d;
  color: white;
}
.faq-card h4 a{
	margin-bottom: 0;
	font-weight: 400 !important;
}

.recent-pro-img {

  width: 100%; /* ou une largeur spécifique si nécessaire */
  border-radius: 25px; /* ajustez selon le niveau d'arrondi désiré */
  overflow: hidden; /* pour s'assurer que l'image ne dépasse pas les coins arrondis */
  height: 488px; /* Exemple de hauteur fixe, ajustez selon vos besoins */

}
.demand-professional {
  margin-top: 30px; /* Décale la div de 50 pixels vers le bas */
}

.recent-pro-img img {
  width: 100%;
  height: auto; /* pour maintenir le rapport hauteur/largeur de l'image */
  display: block; /* pour éviter des espaces inattendus en dessous de l'image */

  border-radius: 20px; /* si nécessaire, appliquez également border-radius à l'image */
}
.work-sets {
  display: flex;
  flex-direction: column;
  height: 480px; /* Exemple de hauteur fixe, ajustez selon vos besoins */
  gap: -10px; /* Espace entre les images, ajustez selon vos besoins */
}

.recent-pro-img {
  flex: 1; /* Les deux images se partageront l'espace également */
  display: flex;
  flex-direction: column;
}

.recent-pro-img img {
  flex: 1; /* Les deux images se partageront l'espace également */
  width: 100%; /* Les images rempliront la largeur de leur conteneur */
  object-fit: cover; /* Les images couvriront leur conteneur sans être déformées */
  margin-bottom: 10px; /* Espace entre les images, peut-être enlevé si vous utilisez gap dans le conteneur parent */
}


/* Pour éliminer les marges autour des images */
.recent-pro-img img {
  margin: 0px; /* Supprime toutes les marges extérieures autour des images */
}
/* Supprimez toutes les marges et paddings qui pourraient être appliqués aux images ou à leurs conteneurs */
.recent-pro-img, .recent-pro-img img {

  padding: 2px;
}

/* Si les images sont dans un conteneur flex ou grid, réduisez l'espace entre elles */
.work-sets {
  display: flex; /* ou 'grid', selon votre mise en page actuelle */
  flex-direction: column; /* pour flex; pour grid, ce n'est pas nécessaire */
  gap: 0; /* supprimez tout espace entre les éléments flex ou grid */
}

/* Si les images utilisent des marges pour créer de l'espace vertical, réduisez ces marges */


/* Sélectionnez la première image et ajustez sa marge inférieure */
.recent-pro-img img:first-child {

  margin-bottom: 5px; /* Réduisez ou supprimez la marge inférieure */
}

/* Ou sélectionnez la deuxième image et ajustez sa marge supérieure */
.recent-pro-img img:last-child {
  margin-top: 5px; /* Réduisez ou supprimez la marge supérieure */
}




.different-categories-blk {
  background: #FFFFFF;
  border: 1px solid #DDDDDD;
  border-radius: 4px;
  padding: 20px;
  flex-direction: column;
  align-items: center;
  transition: transform 0.3s ease;
}

.differ-img {
  margin-bottom: 20px;
  margin-left: 30px;
}

.differ-img img  {
  height: 45px;
  margin-right: 10px;
}


.differ-content h6 {
  margin-right: auto;
  margin-left: 10px;
  margin-bottom: 15px;
  font-weight: 400 !important;
}

.category-foot a {
  color: #333333;
  text-decoration: none;
  display: flex;
}

.differ-content a{
  border: 1px solid #EBEBEB;
	width: 31px;
	height: 31px;
	border-radius: 50px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	justify-content: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
margin-bottom: 10px;
}


.differ-content a:hover {
	background: #e57931;
	border: 1px solid #E65425;
	color: black;
	transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease;
}
.different-categories-blk {
  cursor: pointer; /* Définit le curseur comme une main au survol */
}

.faq-card {
  text-align: justify; /* Justifier le texte à l'intérieur des éléments faq-card */
}



/* Ajoutez d'autres styles CSS au besoin */
/* Ajoutez cette classe CSS dans votre fichier home.component.scss */




div.multiselect-dropdown > div > span.dropdown-btn {
  border: 0 !important;
}

.login-link {
  height: 40px;
display: inline-block;
border-radius: 5px;
border-color: transparent;
text-transform: capitalize;
background: transparent;
border: 1px solid #E65425;
color: #E65425;
padding: 9px 20px;
font-weight: 700;
transition: all 0.5s ease;
-moz-transition: all 0.5s ease;
-o-transition: all 0.5s ease;
-ms-transition: all 0.5s ease;
-webkit-transition: all 0.5s ease;
text-align: center;
}

.login-link:hover {
  background-color: #E65425;/* Fond orange au survol */
  color: white; /* Texte blanc au survol */
}

.sign-link {
  height: 40px;
  display: inline-block;
  border-radius: 5px;
  border-color: transparent;
  text-transform: capitalize;
  background: transparent;
  border: 1px solid white;
  color: white;
  background-color: #E65425;
  padding: 9px 20px;
  font-weight: 700;
  transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  text-align: center;
  
}

.sign-link:hover {
  background: #161c2d;
  color: #fff;
  transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
}
.align-right {
  text-align: right !important; /* Aligner le texte à droite */
 
}




