.tags {
    list-style-type: none;
    padding: 0;
}

.badge-design {
    background-color: #FFF6F1;
    color: #333;
    border-radius: 20px;
    padding: 5px 10px;
    margin: 2px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 300px;
}

.skill-name {
    display: flex;
    align-items: center;
}

.skill-image {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.skill-experience {
    margin-left: auto;
}
.link-button {
    background: none;
    border: none;
    color: #E65425; 
    text-decoration: underline; 
    cursor: pointer; 
}
h6 {
  text-align: center;
  margin-right: 210px;
}
  .form-group .btn{
    
    display: inline-block;
    border-radius: 5px;
    border-color: transparent;
    text-transform: capitalize;
    background: transparent;
    border: 1px solid #E65425;
    color: #E65425;
    padding: 9px 20px;
    font-weight: 700;
    transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    text-align: center;
    margin-right: 5px;
    width: 160px;
    height: 35px;

  }
  .form-group .btn:hover{
    background: #E65425;
    color: #fff;
    transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
  }
  .input-group-prepend{
    width: 96px;
    
  }
.custom-select{
    height: 40px;
    border: 0.1px solid rgb(219, 219, 219);
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
.bouton-switch {
  display: flex;
  align-items: center;
  justify-content: flex-start; 
  width: 40px;
  height: 18px;
  border: 1px solid #ccc;
  border-radius: 15px;
  padding: 0 5px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  background-color: rgb(221, 219, 219); 
  position: relative;
  border: 0.5px solid orangered;
  position: relative;
}

.bouton-switch__texte {
  font-size: 14px;
  font-weight: bold;
}

.bouton-switch__interrupteur {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: white;
  transition: all 0.2s ease-in-out;
  position: absolute;
  top: 50%;
  left: 0; 
  transform: translate(-50%, -50%); 
  border: 0.5px solid orangered;
  position: absolute;
  margin-left: 8px;
}

.bouton-switch:hover {
  border-color: orangered;
}

.bouton-switch.actif {
  
  background-color: orangered;
}

.bouton-switch.actif .bouton-switch__interrupteur {
  left: 60%; 
  background-color: white;
}

.reg-btn {
  width: 220px;
height: 40px;
display: inline-block;
border-radius: 5px;
border-color: transparent;
text-transform: capitalize;
background: transparent;
border: 1px solid #E65425;
color: #E65425;
padding: 9px 20px;
font-weight: 700;
transition: all 0.5s ease;
-moz-transition: all 0.5s ease;
-o-transition: all 0.5s ease;
-ms-transition: all 0.5s ease;
-webkit-transition: all 0.5s ease;
text-align: center;
  }
  
  .reg-btn:hover {
    background: #E65425;
    color: #fff;
    transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
  }
  .badge {
    display: inline-block;
    background: #f4f7ff;
    color: #333;
    text-align: center;
    border-radius: 20px;
    padding: 5px 10px;
    font-size: 14px;
    cursor: pointer;
    margin: 0 5px;
    min-width: auto; 
    width: auto;
  }
  