<!-- Breadcrumb -->
<div class="bread-crumb-bar">
	<div class="container">
		<div class="row align-items-center inner-banner">
			<div class="col-md-12 col-12 text-center">
				<div class="breadcrumb-list">
					<h2>Mentions légales Page</h2>
					<nav aria-label="breadcrumb" class="page-breadcrumb">
						<ol class="breadcrumb">
							<li class="breadcrumb-item"><a [routerLink] = "routes.home"> Accueil</a></li>
							<li class="breadcrumb-item" aria-current="page">Mentions légales</li>
						</ol>
					</nav>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- /Breadcrumb -->

<!-- Page Content -->
<div class="content">
	<div class="container">           
	  <div class="row">
		<div class="col-12">
			<div class="terms-content">
				<div class="terms-text">
					<h3 style="text-align: center; text-decoration: underline;">Mentions légales</h3>

		  Merci de lire avec attention les différentes modalités d’utilisation du présent site avant d’y parcourir ses pages. En vous connectant sur ce site, vous acceptez sans réserve les présentes modalités. Aussi, conformément à l'article n°6 de la Loi n°2004-575 du 21 Juin 2004 pour la confiance dans l'économie numérique, les responsables du présent site internet sont : <br><br>
			<strong>Éditeur du site :</strong><br>
			Silog – www.silog.io<br>
			Nom ou Raison sociale : Silog<br>
			Adresse : 17 Rue Des Chênes Verts, 91240 Saint-Michel-Sur-Orge<br>
			Adresse électronique : projets@silog.io<br>
			Téléphone : 04 79 19 45 15<br>
			Numéro SIREN : 837590306<br>
			Numéro SIRET de l’établissement : 83759030600036<br>
			Numéro TVA Intracommunautaire: FR92837590306<br><br>
			
			
			<strong>Hébergeur du site :</strong><br>
			Gandi SAS – www.gandi.net<br>
			Adresse : 63-65 boulevard Masséna 75013 Paris  <br>    <br>
			 
			 
			Ce site est proposé en différents langages web (HTML, HTML5, Javascript, CSS, etc…) pour un meilleur confort d'utilisation et un graphisme plus agréable, nous vous recommandons de recourir à des navigateurs modernes comme Internet explorer, Safari, Firefox, Google Chrome etc…<br><br>
			 
			Silog met en œuvre tous les moyens dont elle dispose, pour assurer une information fiable et une mise à jour fiable de ses sites internet. Toutefois, des erreurs ou omissions peuvent survenir. L'internaute devra donc s'assurer de l'exactitude des informations auprès de Silog, et signaler toutes modifications du site qu'il jugerait utile. Silog n'est en aucun cas responsable de l'utilisation faite de ces informations, et de tout préjudice direct ou indirect pouvant en découler.<br><br><br>
			
			
			 
			 
			 
			<strong>Cookies :</strong> <br>
			Le site www.devfactory.cc peut être amené à vous demander l’acceptation des cookies pour des besoins de statistiques et d'affichage. Un cookies est une information déposée sur votre disque dur par le serveur du site que vous visitez. Il contient plusieurs données qui sont stockées sur votre ordinateur dans un simple fichier texte auquel un serveur accède pour lire et enregistrer des informations . Certaines parties de ce site ne peuvent être fonctionnelles sans l’acceptation de cookies.<br><br>
			
			
			 
			<strong>Liens hypertextes : </strong><br>  
			Les sites internet de Silog peuvent offrir des liens vers d’autres sites internet ou d’autres ressources disponibles sur Internet. Silog ne dispose d'aucun moyen pour contrôler les sites en connexion avec ses sites internet. Silog ne répond pas de la disponibilité de tels sites et sources externes, ni ne la garantit. Elle ne peut être tenue pour responsable de tout dommage, de quelque nature que ce soit, résultant du contenu de ces sites ou sources externes, et notamment des informations, produits ou services qu’ils proposent, ou de tout usage qui peut être fait de ces éléments. Les risques liés à cette utilisation incombent pleinement à l'internaute, qui doit se conformer à leurs conditions d'utilisation.<br> <br>
			
			Les utilisateurs, les abonnés et les visiteurs des sites internet de ne peuvent mettre en place un hyperlien en direction de ce site sans l'autorisation expresse et préalable de Silog.<br>
			
			Dans l'hypothèse où un utilisateur ou visiteur souhaiterait mettre en place un hyperlien en direction d’un des sites internet de Silog, il lui appartiendrait d'adresser un email accessible sur le site afin de formuler sa demande de mise en place d'un hyperlien. <br> <br>Silog se réserve le droit d’accepter ou de refuser un hyperlien sans avoir à en justifier sa décision.<br><br>
			
			
			Silog s’efforce de fournir sur le site www.devfactory.cc des informations aussi précises que possible. les renseignements figurant sur le site ne sont pas exhaustifs et les photos non contractuelles. Ils sont donnés sous réserve de modifications ayant été apportées depuis leur mise en ligne. Par ailleurs, toutes les informations indiquées sur le site sont données à titre indicatif, et sont susceptibles de changer ou d’évoluer sans préavis.<br> <br>
			 
			Tout contenu téléchargé se fait aux risques et périls de l'utilisateur et sous sa seule responsabilité. En conséquence, Silog ne saurait être tenu responsable d'un quelconque dommage subi par l'ordinateur de l'utilisateur ou d'une quelconque perte de données consécutives au téléchargement. De plus, l’utilisateur du site s’engage à accéder au site en utilisant un matériel récent, ne contenant pas de virus et avec un navigateur de dernière génération mis-à-jour.<br> <br>
			Les liens hypertextes mis en place dans le cadre du présent site internet en direction d'autres ressources présentes sur le réseau Internet ne sauraient engager la responsabilité de Silog.<br> <br> <br>
			
			
			
			<strong>Propriété intellectuelle :  </strong><br><br>

			Tout le contenu du présent sur le site de Silog, incluant, de façon non limitative, les graphismes, images, textes, vidéos, animations, sons, logos, gifs et icônes ainsi que leur mise en forme sont la propriété exclusive de la société à l'exception des marques, logos ou contenus appartenant à d'autres sociétés partenaires ou auteurs.<br><br>
			Toute reproduction, distribution, modification, adaptation, retransmission ou publication, même partielle, de ces différents éléments est strictement interdite sans l'accord exprès par écrit de Silog. Cette représentation ou reproduction, par quelque procédé que ce soit, constitue une contrefaçon sanctionnée par les articles L.335-2 et suivants du Code de la propriété intellectuelle. Le non-respect de cette interdiction constitue une contrefaçon pouvant engager la responsabilité civile et pénale du contrefacteur. En outre, les propriétaires des Contenus copiés pourraient intenter une action en justice à votre encontre.<br> <br>
			
			
			Les présentes conditions du site www.devfactory.cc sont régies par les lois françaises et toute contestation ou litiges qui pourraient naître de l'interprétation ou de l'exécution de celles-ci seront de la compétence exclusive des tribunaux dont dépend le siège social de la société. La langue de référence, pour le règlement de contentieux éventuels, est le français.<br><br><br>
			 
			 
		<strong>Données personnelles :</strong><br><br>
			De manière générale, vous n’êtes pas tenu de nous communiquer vos données personnelles lorsque vous visitez notre site Internet.<br> <br>
			
			Cependant, ce principe comporte certaines exceptions. En effet, pour certains services proposés par notre site, vous pouvez être amenés à nous communiquer certaines données telles que : votre nom, votre fonction, votre adresse postale, votre adresse électronique, et votre numéro de téléphone. Tel est le cas lorsque vous remplissez le formulaire qui vous est proposé en ligne, dans la rubrique « contact ». Dans tous les cas, vous pouvez refuser de fournir vos données personnelles. Dans ce cas, vous ne pourrez pas utiliser les services du site, notamment celui de solliciter des renseignements sur notre société, ou de recevoir les lettres d’information.<br> <br>
			
			Enfin, nous pouvons collecter de manière automatique certaines informations vous concernant lors d’une simple navigation sur notre site Internet, notamment : des informations concernant l’utilisation de notre site, comme les zones que vous visitez et les services auxquels vous accédez, votre adresse IP, le type de votre navigateur, vos temps d'accès. De telles informations sont utilisées exclusivement à des fins de statistiques internes, de manière à améliorer la qualité des services qui vous sont proposés. Les bases de données sont protégées par les dispositions de la loi du 1er juillet 1998 transposant la directive 96/9 du 11 mars 1996 relative à la protection juridique des bases de données.<br> <br><br> 
			 
			<h3 style="text-align: center; text-decoration: underline;">Politique de confidentialité</h3>
			
			 
			Cette politique de confidentialité s'applique au site www.devfactory.cc.<br><br>
			
			La présente politique de confidentialité a pour but d'exposer aux utilisateurs du site :<br><br>
			<ul>
				<li>La manière dont sont collectées et traitées leurs données à caractère personnel. Doivent être considérées comme données personnelles toutes les données étant susceptibles d'identifier un utilisateur. Il s'agit notamment du prénom et du nom, de l'âge, de l'adresse postale, l'adresse mail, la localisation de l'utilisateur ou encore son adresse IP ;</li>
				<li>Quels sont les droits des utilisateurs concernant ces données ;</li>
				<li>Qui est responsable du traitement des données à caractère personnel collectées et traitées ;</li>
				<li>A qui ces données sont transmises ;</li>
				<li>Éventuellement, la politique du site en matière de fichiers "cookies".</li>
			</ul>
			
			Cette politique de confidentialité complète les mentions légales et les Conditions Générales d'Utilisation que les utilisateurs peuvent consulter sur www.devfactory.cc.<br><br>
			<strong>ARTICLE 2 : PRINCIPES GÉNÉRAUX EN MATIÈRE DE COLLECTE ET DE TRAITEMENT DE DONNÉES</strong><br> <br>
			
			Conformément aux dispositions de l'article 5 du Règlement européen 2016/679, la collecte et le traitement des données des utilisateurs du site respectent les principes suivants :<br> <br>
			<ul>
				<li>Licéité, loyauté et transparence : les données ne peuvent être collectées et traitées qu'avec le consentement de l'utilisateur propriétaire des données. A chaque fois que des données à caractère personnel seront collectées, il sera indiqué à l'utilisateur que ses données sont collectées, et pour quelles raisons ses données sont collectées ;</li><br>
				<li>Finalités limitées : la collecte et le traitement des données sont exécutés pour répondre à un ou plusieurs objectifs déterminés dans les présentes conditions générales d'utilisation ;</li><br>
				<li>Minimisation de la collecte et du traitement des données : seules les données nécessaires à la bonne exécution des objectifs poursuivis par le site sont collectées ;</li><br>
				<li>Conservation des données réduites dans le temps : les données sont conservées pour une durée limitée, dont l'utilisateur est informé. Lorsque cette information ne peut pas être communiquée, l'utilisateur est informé des critères utilisés pour déterminer la durée de conservation ;</li><br>
				<li>Intégrité et confidentialité des données collectées et traitées : le responsable du traitement des données s'engage à garantir l'intégrité et la confidentialité des données collectées.</li><br>
			</ul>
			 
			Afin d'être licites, et ce conformément aux exigences de l'article 6 du règlement européen 2016/679, la collecte et le traitement des données à caractère personnel ne pourront intervenir que s'ils respectent au moins l'une des conditions ci-après énumérées :<br><br>
			<ul>
				<li>L'utilisateur a expressément consenti au traitement ;</li><br>
				<li>Le traitement est nécessaire à la bonne exécution d'un contrat ;</li><br>
				<li>Le traitement répond à une obligation légale ;</li><br>
				<li>Le traitement s'explique par une nécessité liée à la sauvegarde des intérêts vitaux de la personne concernée ou d'une autre personne physique ;</li><br>
				<li>Le traitement peut s'expliquer par une nécessité liée à l'exécution d'une mission d'intérêt public ou qui relève de l'exercice de l'autorité publique ;</li><br>
				<li>Le traitement et la collecte des données à caractère personnel sont nécessaires aux fins des intérêts légitimes et privés poursuivis par le responsable du traitement ou par un tiers.</li><br><br>
			</ul>
			<strong>ARTICLE 3 : DONNÉES À CARACTÈRE PERSONNEL COLLECTÉES ET TRAITÉES DANS LE CADRE DE LA NAVIGATION SUR LE SITE</strong><br> <br>
			
			A. DONNÉES COLLECTÉES ET TRAITÉES ET MODE DE COLLECTE<br> <br>
			Les données à caractère personnel collectées sur le site www.devfactory.cc sont les suivantes :<br><br>
			<ul>
				<li>Nom – Prénom</li><br>
				<li>Numéros de téléphone</li><br>
				<li>Adresse e-mail</li><br>
				<li>Adresse postale</li><br>
				<li>Localisation</li><br>
				<li>Coordonnées bancaires</li><br>
			</ul>
			Ces données sont collectées lorsque l'utilisateur effectue l'une des opérations suivantes sur le site :<br><br>
			lorsque l'utilisateur achète un produit du site.<br><br>
			Par ailleurs, lors d'un paiement sur le site, il sera conservé dans les systèmes informatiques de du site une preuve de la transaction comprenant le bon de commande et la facture.<br><br>
			Le responsable du traitement conservera dans ses systèmes informatiques du site et dans des conditions raisonnables de sécurité l'ensemble des données collectées pour une durée de : illimité.<br><br>
			 
			La collecte et le traitement des données répondent aux finalités suivantes :<br><br>
			Les données de localisation et l'adresse IP sont enregistrées afin de mieux cibler les publicités proposées à l'utilisateur.<br><br>
			
			B. TRANSMISSION DES DONNÉES À DES TIERS<br><br>
			Les données à caractère personnel collectées par le site ne sont transmises à aucun tiers, et ne sont traitées que par l'éditeur du site.<br><br>
			
			<strong>ARTICLE 4 : RESPONSABLE DU TRAITEMENT DES DONNÉES ET DÉLÉGUÉ À LA PROTECTION DES DONNÉES </strong><br><br>
			A. LE RESPONSABLE DU TRAITEMENT DES DONNÉES<br><br>
			Le responsable du traitement des données à caractère personnel est : Silog il peut être contacté de la manière suivante :<br><br>
			Par e-mail : projets@silog.io<br><br>
			Il est chargé de déterminer les finalités et les moyens mis au service du traitement des données à caractère personnel.<br><br>
			 
			B. OBLIGATIONS DU RESPONSABLE DU TRAITEMENT DES DONNÉES <br><br>
			Le responsable du traitement s'engage à protéger les données à caractère personnel collectées, à ne pas les transmettre à des tiers sans que l'utilisateur n'en ait été informé et à respecter les finalités pour lesquelles ces données ont été collectées.<br><br>
			Un certificat SSL (Secure Socket Layer Certificate) a pour but de sécuriser les données échangées entre l'utilisateur et le site.<br><br>
			De plus, le responsable du traitement des données s'engage à notifier l'utilisateur en cas de rectification ou de suppression des données, à moins que cela n'entraîne pour lui des formalités, coûts et démarches disproportionnés.<br><br>
			Dans le cas où l'intégrité, la confidentialité ou la sécurité des données à caractère personnel de l'utilisateur est compromise, le responsable du traitement s'engage à informer l'utilisateur par tout moyen.<br><br>
			 
			<strong>ARTICLE 5 : DROITS DE L'UTILISATEUR</strong><br><br>
			
			Conformément à la réglementation concernant le traitement des données à caractère personnel, l'utilisateur possède les droits ci-après énumérés.<br><br>
			Afin que le responsable du traitement des données fasse droit à sa demande, l'utilisateur est tenu de lui communiquer : ses prénom et nom ainsi que son adresse e-mail, et si cela est pertinent, son numéro de compte ou d'espace personnel ou d'abonné.<br><br>
			Le responsable du traitement des données est tenu de répondre à l'utilisateur dans un délai de 30 (trente) jours maximum.<br><br>
			A.PRÉSENTATION DES DROITS DE L'UTILISATEUR EN MATIÈRE DE COLLECTE ET TRAITEMENT DE DONNÉES<br><br>
			
			<p class="custom-padding">1. Droit d'accès, de rectification et droit à l'effacement</p><br>
			L'utilisateur peut prendre connaissance, mettre à jour, modifier ou demander la suppression des données le concernant, en respectant la procédure ci-après énoncée :<br><br>
			L'utilisateur doit envoyer un e-mail au responsable du traitement des données personnelles, en précisant l'objet de sa demande et en utilisant l'adresse e-mail de contact qui est fournie plus haut.<br><br>
			S'il en possède un, l'utilisateur a le droit de demander la suppression de son espace personnel en suivant la procédure suivante :<br><br>
			L'utilisateur doit envoyer un e-mail au responsable du traitement des données, en précisant son numéro d'espace personnel. La demande de suppression des données sera traitée dans un délai de 14 jours ouvrables.<br><br>
			
			<p class="custom-padding"></p>2.Droit à la portabilité des données<br><br>
			L'utilisateur a le droit de demander la portabilité de ses données personnelles, détenues par le site, vers un autre site, en se conformant à la procédure ci-après :<br><br>
			L'utilisateur doit faire une demande de portabilité de ses données personnelles auprès du responsable du traitement des données, en envoyant un e-mail à l'adresse prévue ci-dessus.<br><br>
			
			<p class="custom-padding"></p>3.Droit à la limitation et à l'opposition du traitement des données <br><br>
			L'utilisateur a le droit de demander la limitation ou de s'opposer au traitement de ses données par le site, sans que le site ne puisse refuser, sauf à démontrer l'existence de motifs légitimes et impérieux, pouvant prévaloir sur les intérêts et les droits et libertés de l'utilisateur.<br><br>
			Afin de demander la limitation du traitement de ses données ou de formuler une opposition au traitement de ses données, l'utilisateur doit suivre la procédure suivante :<br><br>
			L'utilisateur doit faire une demande de limitation du traitement de ses données ou formuler une opposition à leur traitement, en envoyant un e-mail à l'adresse prévue ci-dessus.<br><br>
			
			<p class="custom-padding">4.Droit de ne pas faire l'objet d'une décision fondée exclusivement sur un procédé automatisé </p><br>
			Conformément aux dispositions du règlement 2016/679, l'utilisateur a le droit de ne pas faire l'objet d'une décision fondée exclusivement sur un procédé automatisé si la décision produit des effets juridiques le concernant, ou l'affecte de manière significative de façon similaire.<br><br>
			
			<p class="custom-padding">5.Droit de déterminer le sort des données après la mort</p><br>
			Il est rappelé à l'utilisateur qu'il peut organiser quel doit être le devenir de ses données collectées et traitées s'il décède, conformément à la loi n°2016-1321 du 7 octobre 2016.<br><br>
			
			B.DONNÉES PERSONNELLES DES PERSONNES MINEURES <br><br>
			Conformément aux dispositions de l'article 8 du règlement européen 2016/679 et à la loi Informatique et Libertés, seuls les mineurs âgés de 15 ans ou plus peuvent consentir au traitement de leurs données personnelles.<br><br>
			Si l'utilisateur est un mineur de moins de 15 ans, l'accord d'un représentant légal sera requis afin que des données à caractère personnel puissent être collectées et traitées.<br><br>
			L'éditeur du site se réserve le droit de vérifier par tout moyen que l'utilisateur est âgé de plus de 15 ans, ou qu'il aura obtenu l'accord d'un représentant légal avant de naviguer sur le site.<br><br>
			
			<strong>ARTICLE 6 : UTILISATION DES FICHIERS "COOKIES"</strong>
			
			Le site a éventuellement recours aux techniques de "cookies".<br><br>
			Un cookie est un fichier de petite taille (moins de 4 ko), stocké par le site sur le disque dur de l'utilisateur, contenant des informations relatives aux habitudes de navigation de l'utilisateur.<br><br>
			Ces fichiers lui permettent de traiter des statistiques et des informations sur le trafic, de faciliter la navigation et d'améliorer le service pour le confort de l'utilisateur.<br><br>
			Pour l'utilisation de fichiers "cookies" impliquant la sauvegarde et l'analyse de données à caractère personnel, le consentement de l'utilisateur est nécessairement demandé.<br><br>
			Ce consentement de l'utilisateur est considéré comme valide pour une durée de 13 (treize) mois maximum. A l'issue de cette période, le site demandera à nouveau l'autorisation de l'utilisateur pour enregistrer des fichiers "cookies" sur son disque dur.<br><br>
			
			<strong>Opposition de l'utilisateur à l'utilisation de fichiers "cookies" par le site</strong><br>
							<br>
Il est porté à la connaissance de l'utilisateur qu'il peut s'opposer à l'enregistrement de ces fichiers "cookies" en configurant son logiciel de navigation.<br>
Pour information, l'utilisateur peut trouver aux adresses suivantes les démarches à suivre afin de configurer son logiciel de navigation pour s'opposer à l'enregistrement des fichiers "cookies" :<br>
<ul>
    <li>Chrome : <a href="https://support.google.com/accounts/answer/61416?hl=fr" target="_blank">https://support.google.com/accounts/answer/61416?hl=fr</a></li>
    <li>Firefox : <a href="https://support.mozilla.org/fr/kb/enable-and-disable-cookies-website-preferences" target="_blank">https://support.mozilla.org/fr/kb/enable-and-disable-cookies-website-preferences</a></li>
    <li>Safari : <a href="http://www.apple.com/legal/privacy/fr-ww/" target="_blank">http://www.apple.com/legal/privacy/fr-ww/</a></li>
    <li>Internet Explorer : <a href="https://support.microsoft.com/fr-fr/help/17442/windows-internet-explorer-delete-manage-cookies" target="_blank">https://support.microsoft.com/fr-fr/help/17442/windows-internet-explorer-delete-manage-cookies</a></li>
    <li>Opera : <a href="http://www.opera.com/help/tutorials/security/cookies/" target="_blank">http://www.opera.com/help/tutorials/security/cookies/</a></li>
</ul>
			Dans le cas où l'utilisateur décide de désactiver les fichiers "cookies", il pourra poursuivre sa navigation sur le site. Toutefois, tout dysfonctionnement du site provoqué par cette manipulation ne pourrait être considéré comme étant du fait de l'éditeur du site.<br> <br>
			
		<strong>	ARTICLE 7 : CONDITIONS DE MODIFICATION DE LA POLITIQUE DE CONFIDENTIALITÉ</strong><br> <br>
			
			La présente politique de confidentialité peut être consultée à tout moment à l'adresse ci-après indiquée :<br><br>
			https://www.devfactory.cc<br><br>
			L'éditeur du site se réserve le droit de la modifier afin de garantir sa conformité avec le droit en vigueur.<br><br>
			Par conséquent, l'utilisateur est invité à venir consulter régulièrement cette politique de confidentialité afin de se tenir informé des derniers changements qui lui seront apportés.<br><br>
			Toutefois, en cas de modification substantielle de cette politique, l'utilisateur en sera informé de la manière suivante :<br><br>
			Par e-mail à l'adresse communiquée par l'utilisateur.<br><br>
			Il est porté à la connaissance de l'utilisateur que la dernière mise à jour de la présente politique de confidentialité est intervenue le : 18/03/2024.<br><br>
			
			 <strong> ARTICLE 8 : ACCEPTATION PAR L'UTILISATEUR DE LA POLITIQUE DE CONFIDENTIALITÉ</strong> <br><br>
			
			En naviguant sur le site, l'utilisateur atteste avoir lu et compris la présente politique de confidentialité et en accepte les conditions, en ce qui concerne plus particulièrement la collecte et le traitement de ses données à caractère personnel, ainsi que l'utilisation de fichiers "cookies".<br><br>
			 
			 
			 
			
			
			
			 
			Nous contacter<br><br>
			 
			Mail : projets@silog.io<br><br>
			Numéro : +33 4 79 19 45 15<br><br>
			
				</div>
			</div>
		</div>
	  </div>
	</div>
  </div>
			  
<!-- /Page Content -->
